<div class="row">
  <div class="col-md-6">
    <h3>Day 1</h3>
    <table class="table table-striped">
      <tr> <td>8:00 - 10:00</td>  <td>Software Carpentry Part I: The Unix Shell</td> </tr>
      <tr> <td>8:30 - 10:00<sup>*</sup></td>  <td>AWS Intro to Cloud Computing</td> </tr>
      <tr> <td>10:00 - 10:15</td>  <td>RC Days Welcome</td> </tr>
      <tr> <td>10:15 - 11:15</td>  <td>Guest Speaker: Jonathan Cohen, Senior Director of AI Software, NVIDIA</td> </tr>
      <tr> <td>11:15 - 12:15</td>  <td>Industry Panel</td> </tr>
      <tr> <td>12:15 - 1:00</td>  <td>FREE Lunch</td> </tr>
      <tr> <td>1:00 - 3:00</td>  <td>Software Carpentry Part II: Version Control with Git</td> </tr>
      <tr> <td>1:00 - 3:00<sup>*</sup></td>  <td>AWS Intro to Cloud Computing</td> </tr>
      <tr> <td>3:00 - 4:00</td>  <td>Lab: How to Use Boise State's Cluster, R2</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Day 2</h3>
    <table class="table table-striped">
      <tr> <td>8:00 - 11:00<sup>**</sup></td>  <td>Software Carpentry: Intro to Python, Python II, Intro to Python for Biologists, Matlab, R</td> </tr>
      <tr> <td>11:00 - 11:15</td>  <td>RC Days Welcome</td> </tr>
      <tr> <td>11:15 - 12:15</td> <td>Dr. Rory Barnes, Professor of Astronomy, Astrobiology, and Data Science, University of Washington</td> </tr>
      <tr> <td>12:15 - 1:00</td>  <td>Poster Session &amp; Free Lunch</td> </tr>
      <tr> <td>1:00 - 3:00<sup>**</sup></td>  <td>Software Carpentry: Intro to Python, Python II, Intro to Python for Biologists, Matlab, R</td> </tr>
      <tr> <td>1:00 – 4:15***</td> 	<td>AWS Advanced Parallel Cluster Tutorial</td></tr>
      <tr> <td>3:00 - 3:30</td>  <td>Poster Winners &amp; Desert</td> </tr>
    </table>
  </div>
</div>
