<div class="row">
  <div class="col-md-6">
    <h3>Day 1</h3>
    <table class="table table-striped">
      <tr> <td>8:30 - 10:00</td> <td>The Unix Shell: Part I</td> </tr>
      <tr> <td>10:00 - 10:15</td> <td>Break</td> </tr>
      <tr> <td>10:15 - 11:00</td> <td>The Unix Shell: Part II</td> </tr>
      <tr> <td>11:00 - 12:00</td> <td>Version Control with Git</td> </tr>
      <tr> <td>12:00 - 1:00</td> <td>Lunch</td> </tr>
      <tr> <td>1:00 - 2:30</td> <td>Intro to Python: Part I</td> </tr>
      <tr> <td>2:30 - 2:45</td> <td>Break</td> </tr>
      <tr> <td>2:45 - 4:00</td> <td>Intro to Python: Part II</td> </tr>
      <tr> <td>4:00 - 4:15</td> <td>Break</td> </tr>
      <tr> <td>4:15 - 5:00</td> <td>Accounts and computing resources at Boise State</td> </tr>
    </table>
  </div>
</div>
